.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 100vh;

	background-color: var(--bg-primary-dark);
}

.title {
	color: white;
	letter-spacing: 1rem;
	text-transform: uppercase;
}
